# Ignore virtual environment
google-calendar-agent/
.env/
__pycache__/
*.pyc
*.pyo
*.pyd

# API Stuff
api_keys/client_secret.json
api_keys/token_files
api_keys/openai_api.py

# IDE stuff
.vscode/
.idea/
